{% extends 'layout.html' %}
{% block content %}
  {% for pokemon in pokemons.items %}
    <article class="media content-section">
      <img
        class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_pics/' + pokemon.trainer.image_file) }}"
      />
      <div class="media-body">
        <div class="article-metadata">
          <a
            class="mr-2"
            href="{{ url_for('users.user_pokemons', username=pokemon.trainer.username) }}"
          >
            {{ pokemon.trainer.username }}
          </a>
          <small class="text-muted">{{ pokemon.date_created.strftime('%m/%d/%Y') }}</small>
        </div>
        <h2>
          <a
            class="article-name"
            href="{{ url_for('pokemons.pokemon', pokemon_id=pokemon.id) }}"
          >
            {{ pokemon.name }}
          </a>
        </h2>
        {% if pokemon.type %}
          <p class="article-description">Type: {{ pokemon.type }}</p>
        {% endif %}
        {% if pokemon.date_caught %}
          <p class="article-description">Date Caught: {{ pokemon.date_caught.strftime('%m/%d/%Y') }}</p>
        {% endif %}
        <p class="article-description">Description: {{ pokemon.description }}</p>
        {% if pokemon.image_file %}
          <img
            src="{{ url_for('static', filename='pokemon_pics/' + pokemon.image_file) }}"
          />
        {% endif %}
      </div>
    </article>
  {% endfor %}
  {% for page_num in pokemons.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if pokemons.page == page_num %}
        <a
          class="btn btn-info mb-4"
          href="{{ url_for('main.home', page=page_num) }}"
        >
          {{ page_num }}
        </a>
      {% else %}
        <a
          class="btn btn-outline-info mb-4"
          href="{{ url_for('main.home', page=page_num) }}"
        >
          {{ page_num }}
        </a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
