{% extends 'layout.html' %}
{% block content %}
  <article class="media content-section">
    <img
      class="rounded-circle article-img"
      src="{{ url_for('static', filename='profile_pics/' + pokemon.trainer.image_file) }}"
    />
    <div class="media-body">
      <div class="article-metadata">
        <a
          class="mr-2"
          href="{{ url_for('users.user_pokemons', username=pokemon.trainer.username) }}"
        >
          {{ pokemon.trainer.username }}
        </a>
        <small class="text-muted">{{ pokemon.date_created.strftime('%Y-%m-%d') }}</small>
        {% if pokemon.trainer == current_user %}
          <div>
            <a
              class="btn btn-secondary btn-sm mt-1 mb-1"
              href="{{ url_for('pokemons.update_pokemon', pokemon_id=pokemon.id) }}"
            >
              Update
            </a>
            <button
              type="button"
              class="btn btn-danger btn-sm m-1"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              Delete
            </button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ pokemon.name }}</h2>
      {% if pokemon.type %}
        <p class="article-description">Type: {{ pokemon.type }}</p>
      {% endif %}
      {% if pokemon.date_caught %}
        <p class="article-description">Date Caught: {{ pokemon.date_caught }}</p>
      {% endif %}
      <p class="article-description">Description: {{ pokemon.description }}</p>
      {% if pokemon.image_file %}
        <img
          src="{{ url_for('static', filename='pokemon_pics/' + pokemon.image_file) }}"
        />
      {% endif %}
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Pokemon?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('pokemons.delete_pokemon', pokemon_id=pokemon.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
